</div>
<br>
<br>
<br>
<footer class="footer">


    <div class="pull-right social-connect">
        <a href="https://www.facebook.com/thefashionflipstore/"><img src="/imgs/fb.svg" alt="facebook"></a>
        &ensp;<a href="https://www.instagram.com/fashionflipshop/"><img src="/imgs/insta.svg"  alt="Instagram"></a>&emsp;&emsp;
    </div>
    <p>
    <div class="pull-left footer-details">
        <a class="menu" href="/about">About</a>
        &emsp;
        |
        &emsp;
        <a class="menu" href="/contact_us">Contact Us</a>
    </div>
    Copyright &copy;2022, Fashion Flip &emsp;&emsp;
    </p>
</footer>
</body>

</html>