<%- include('./partials/header.ejs')%>
    <div class="about">
        <h2>
            About Us:
        </h2>
        <p>Fashion Flip app is designed by Graduate students: 
            <br>Sai Kiran Kothagunda - 801310102
            <br> Harshita Rajendran - 801305913
<br> Mary Teresina Richard - 801326069
<br>Mounisha Bolla - 801329187
<br>Preetham Kasturi - 801314944
            , under the Supervison of  Dr.Ali Sever</p>
    </div>
    <%- include('./partials/footer.ejs')%>