<%- include('./partials/header.ejs')%>
    <div class="main-block">
        <h1>
            Welcome to Fashion Flip!
    </h1>
        <h4>Where people go to find, trade or give away fancy clothing. </h4>
    </div>
    <%- include('./partials/testimonials.ejs')%>
    <%- include('./partials/footer.ejs')%>